.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p {
  margin: 1rem 0;
}

.markdown ul {
  margin: 2rem;
}

.markdown ol {
}

.markdown li {
  list-style-type: square;
  padding-left: 1rem;
  margin-left: 1rem;
}

.markdown img {
  margin: auto;
}

.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply text-4xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-3xl mt-8 mb-4 leading-snug;
}

.markdown h4 {
  @apply text-2xl mt-6 mb-4 leading-snug;
  color: #636262;
  text-decoration: underline;
}

.markdown a {
  color: blue;
  text-decoration: underline;
}

.markdown button {
  background-color: red;
  color: white;
  width: 300px;
  padding: 16px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(171, 171, 171, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(171, 171, 171, 1);
  box-shadow: 2px 2px 5px 0px rgba(171, 171, 171, 1);
  margin: 3rem 0;
}
